.flashlightGame {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/haunted-mansion-04.jpg");
  height:1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#flashlight-instructions {
  /* font-family: "Audiowide", sans-serif; */
  color:#ffd166;
  padding-top: 2%;
  margin-bottom: 1%;
  font-size: 40px;
  text-shadow: 5px 5px 5px #ef476f;
  transform: rotate(-1deg);
  letter-spacing: 10px;
}

.flashlightGame .btn {
  color:#118AB2;
  box-shadow: 5px 5px 5px #ef476f;
  background-color: #FFD166;
  border-radius: 15px;
  outline-offset: 3px;
  margin-top: 1%;
  width:100%;
  margin-bottom: 5%;
  font-size:50px;
  letter-spacing: 10px;
}

#xyz {
  font-family: "Audiowide", sans-serif;
  position: fixed;
  z-index: 1000;
  margin-top:15%;
  margin-left:30%;
  /* margin-bottom: 1%; */
  transform: rotate(-5deg);
}


#lightswitch-1 {
  margin-left: 1%;
  margin-top: 1%;
}

#lightswitch-2 {
  margin-left: 70%;
  margin-top: 10%;
}

#lightswitch-3 {
  margin-left: 10%;
  margin-top: 25%;
}

#lightswitch-4 {
  margin-left: 30%;
  margin-top: 30%;
}