.descriptions {
    background-color: #073b4c;
    font-family: "Audiowide", sans-serif;
    padding-bottom: 10%;
}

.description-header {

    color: #ffd166;
    text-align: left;
    margin-left: 5%;
    padding-top: 2%;
    margin-bottom: 2%;
    font-size: 75px;
    text-shadow: 5px 5px 5px #ef476f;
    transform: rotate(-1deg);
    letter-spacing: 15px;
}
.game-description {
    color:#118AB2;
    font-size: 50px;
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
}
