.home {
background-color: #073b4c;
outline-style: solid;
outline-color: #073b4c;
font-family: "Audiowide", sans-serif;
}

#main-header {

    color: #ffd166;
    padding-top: 8%;
    margin-bottom: 2%;
    font-size: 150px;
    text-shadow: 5px 5px 5px #ef476f;
    transform: rotate(-5deg);
    letter-spacing: 15px;
}

.main-btn {
    color:#118AB2;
    box-shadow: 5px 5px 5px #ef476f;
    background-color: #FFD166;
    border-radius: 15px;
    outline-offset: 3px;
    margin-bottom: 5%;
    font-size:50px;
    transform: rotate(-5deg);
    letter-spacing: 10px;
    
}

.main-btn:hover {
    background-color:#ffdc8b
}

.attack-description {
    color:#ef476f;
    font-size: 50px;
    /* margin-bottom: 2%; */
}

.description-box {
    margin-bottom: 5%;
}


#timerBody {
    margin-top: -1px;
    width:50%;
    background-color: #073b4c;
    /* outline-color: #073b4c;
    outline-style: solid; */
    position: absolute;
}

#time-and-seconds {
    color:#ffd166
}

.timer-btn {
    color:#118AB2;
    box-shadow: 5px 5px 5px #ef476f;
    background-color: #FFD166;
    border-radius: 15px;
    outline-offset: 3px;
    margin-bottom: 5%;
    font-size:25px;
    letter-spacing: 10px;  
    width: 30%;
}

.timer-btn:hover {
    background-color:#ffdc8b
}

