.login-page {
    background-color: #073b4c;
    font-family: "Audiowide", sans-serif;
    }

.login-page form {
    margin-top: 5%;
    margin-bottom:3%;
}
.login-page label {
    color:#FFD166;
    font-size: 50px;
    margin-top: 1%;
}

.login-page input {
    height: 50px;
    font-size: 45px;
    background-color: #ECF8F8;
    color:#073b4c;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #ef476f;
}

.login-page .btn {
    color:#118AB2;
    box-shadow: 5px 5px 5px #ef476f;
    background-color: #FFD166;
    border-radius: 15px;
    outline-offset: 3px;
    margin-top:5%;
    margin-bottom: 10%;
    font-size:50px;
    letter-spacing: 10px;
}

.signupError, .loginError {
    color:#ef476f;
    text-transform: uppercase;
}

#empty-div {
    background-color: #073b4c;
    height:15px;

}


